.container {
  background-color: rgb(165, 178, 192);
  border-style: double;
  width: auto;
  height: auto;
}
.spacing {
  padding: 20px;
}

body {
  text-align: center;
  background-color: rgb(176, 192, 204);
  background-image: url("factory.jpg");
}
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif
}
span {
  color: rgb(192, 53, 53);
}
