@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<h1> | Engineers | </h1>
<hr>
<h4>Add an Engineer</h4>
@using (Html.BeginForm())
{
  @Html.Label("Engineer Name")<br>
  @Html.TextBoxFor(model => model.EngineerName)<br><br>

  <input type="submit" value="Hire In!" class="btn btn-default">
}
<br><p>@Html.ActionLink("Show all Hired Engineers", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>